<div class="row mt-3">
    <h2 class="text-light armyfont ml-3 shadowed">Clients View:</h2>
</div>
<div>
    <script src="/static/js/all-clients.js"></script>
    <table class="table table-striped text-light markfont">
        <th>First Name  </th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Weight</th>
        <th>Actions</th>
        {{#each client}}
        <tr >
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{email}}</td>
        <td>{{address}}</td>
        <td>{{phone_number}}</td>
        <td>{{gender}}</td>
        <td>{{age}}</td>
        <td>{{weight}}</td>
        <td><button class="btn btn-sm btn-outline-light client armyfont" data-id={{id}}>View Client</button></td>
        </tr>
        {{/each}}
    </table>

</div>