<div class="row mt-3">
    <div class="col-md-12">
        <h2 class="text-light armyfont ml-3 shadowed float-left">Clients View:</h2>
        <button class="float-right btn btn-outline-dark" data-toggle="modal" data-target="#clientModal"><i class="fas fa-user-plus"></i> Add New Client</button>
    </div>
</div>
<div>
    
    <script src="/static/js/all-clients.js"></script>
    {{!-- <script src="/static/js/buy-package.js"></script> --}}
    {{!-- <table class="table table-striped text-light markfont"> --}}
        <table class="table">
            <th scope="col">First Name  </th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Address</th>
            {{!-- <th scope="col">Address</th> --}}
            <th scope="col">Phone Number</th>
            {{!-- <th scope="col">Gender</th>
            <th scope="col">Age</th>
            <th scope="col">Weight</th> --}}
            <th scope="col">Client Actions</th>
        
        {{#each client}}

        <tr>
            <td>
                <span id="fname-label-{{this.id}}" class="view-mode-{{this.id}}">{{this.first_name}}</span>
                <input type='text' id="fname-edit-{{this.id}}" class="edit-mode-{{this.id}}" value="{{this.first_name}}" style="display: none" /> 
            </td>

            <td>
                <span id="lname-label-{{this.id}}" class="view-mode-{{this.id}}">{{this.last_name}}</span>
                <input type='text' id="lname-edit-{{this.id}}"  class="edit-mode-{{this.id}}" value="{{this.last_name}}" style="display: none" />
            </td>

            <td>
                <span id="email-label-{{this.id}}" class="view-mode-{{this.id}}">{{this.email}}</span>
                <input type='text' id="email-edit-{{this.id}}"  class="edit-mode-{{this.id}}" value="{{this.email}}" style="display: none" />
            </td>

            {{!-- <td>
                <span id="address-label-{{this.id}}" class="view-mode-{{this.id}}">{{this.address}}</span>
                <input type='text' id="address-edit-{{this.id}}"  class="edit-mode-{{this.id}}" value="{{this.address}}" style="display: none" />
            </td> --}}

            <td>
                <span id="phone-label-{{this.id}}" class="view-mode-{{this.id}}">{{this.phone_number}}</span>
                <input type='text' id="phone-edit-{{this.id}}"  class="edit-mode-{{this.id}}" value="{{this.phone_number}}" style="display: none" />
            </td>

            {{!-- <td>
                <span id="gender-label-{{this.id}}" class="view-mode-{{this.id}}">{{this.gender}}</span>
                <input type='text' id="gender-edit-{{this.id}}"  class="edit-mode-{{this.id}}" value="{{this.gender}}" style="display: none" />
            </td>

            <td>
                <span id="age-label-{{this.id}}" class="view-mode-{{this.id}}">{{this.age}}</span>
                <input type='text' id="age-edit-{{this.id}}"  class="edit-mode-{{this.id}}" value="{{this.age}}" style="display: none" />
            </td>

            <td>
                <span id="weight-label-{{this.id}}" class="view-mode-{{this.id}}">{{this.weight}}</span>
                <input type='text' id="weight-edit-{{this.id}}"  class="edit-mode-{{this.id}}" value="{{this.weight}}" style="display: none" />
            </td> --}}

            <td>
                
                <a href="/clients/{{this.id}}" class="action view-mode-{{this.id}}" name="{{this.id}}"><i class="fas fa-user-edit" data-toggle="tooltip" data-html="true" title="<b class='armyfont text-warning shadowed'>View Client Card</b>"></i></a>

                <a href="#" class="edit-client action view-mode-{{this.id}}" name="{{this.id}}"><i class="fas fa-edit" data-toggle="tooltip" data-html="true" title="<b class='armyfont text-warning shadowed'>Edit Client</b>"></i></a>
                <a href="#" class="delete-client action view-mode-{{this.id}}" name="{{this.id}}"><i class="fas fa-trash-alt" data-toggle="tooltip" data-html="true" title="<b class='armyfont text-warning shadowed'>Delete Client</b>"></i></a>
                
                <a href="#" class="save-client action edit-mode-{{this.id}}" name="{{this.id}}" style="display: none"><i class="far fa-check-square" data-toggle="tooltip" data-html="true" title="<b class='armyfont text-warning shadowed'>Save Changes</b>"></i></a>
                <a href="#" class="cancel-edit-client action edit-mode-{{this.id}}" name="{{this.id}}" style="display: none"><i class="far fa-window-close" data-toggle="tooltip" data-html="true" title="<b class='armyfont text-warning shadowed'>Cancel Changes</b>"></i></a>
                
                <a href="#" class="buy-package action" data-toggle="modal" data-target="#purchase-package" id="{{id}}"><i class="fas fa-file-invoice-dollar"></i></a>
                
                {{!-- <a href="#" class="buy-package action" data-toggle="modal" data-target="#purchase-package" id="{{id}}"><i class="fas fa-file-invoice-dollar" data-toggle="tooltip" data-html="true" title="<b class='armyfont text-warning shadowed'>Workout Packages</b>"></i></a> --}}



              {{!-- <div class="btn-group" role="group" >
                
                <button type="button" class="btn btn-secondary">
                   <a href="/clients/{{this.id}}" class="edit-client action view-mode-{{this.id}}" name="{{this.id}}"><i class="fas fa-user-edit"></i></a> 
                   <a href="#" class="save-client action edit-mode-{{this.id}}" name="{{this.id}}" style="display: none"><i class="far fa-check-square"></i></a>
                </button>
                
                <button type="button" class="btn btn-secondary">
                    <a href="#" class="edit-client action view-mode-{{this.id}}" name="{{this.id}}"><i class="fas fa-edit"></i></a>
                    <a href="#" class="cancel-edit-client action edit-mode-{{this.id}}" name="{{this.id}}" style="display: none"><i class="far fa-window-close"></i></a>
                </button>
                
                <button type="button" class="btn btn-secondary">
                    <a href="#" class="delete-client action view-mode-{{this.id}}" name="{{this.id}}"><i class="fas fa-trash-alt"></i></a>
                </button>

                <button type="button" class="btn btn-secondary">
                    <a href="#" class="buy-package action" data-toggle="modal" data-target="#purchase-package" id="{{id}}"><i class="fas fa-file-invoice-dollar"></i></a>                    
                </button>
              </div> --}}






            {{!-- <button class="btn btn-sm btn-outline-light client armyfont" data-id={{id}}>View Client</button> --}}
            {{!-- <button class="btn buy-package" id="{{id}}">Add Package</button> --}}
            </td>
        </tr>


        {{/each}}
    </table>

</div>




<button type="button" class="btn" data-toggle="modal" data-target="#clientModal">
    + Add New Client
</button>

<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clientModalLabel">Add New Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <label for="Client-email"><i class="fa fa-envelope"></i>Email</label>
                        <input type="email" class="form-control" id="Client-email" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <label for="client-address"><i class="fa fa-address-card-o"></i>Address</label>
                        <input type="text" class="form-control" id="client-address" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber"><i class="fa fa-address-card-o"></i>Phone number</label>
                        <input type="tel" class="form-control" id="phoneNumber" pattern="[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}"
                            placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <label for="client-gender">Gender</label>
                        <input type="" class="form-control" id="client-gender" placeholder="Gender">
                    </div>
                    <div class="form-group">
                        <label for="client-age">Age</label>
                        <input type="number" min="1" class="form-control" id="client-age" placeholder="Age">
                    </div>
                    <div class="form-group">
                        <label for="client-weight">Weight</label>
                        <input type="number" class="form-control" id="client-weight" placeholder="Weight">
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" id="new-Client" class="btn btn-primary">Add Client</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>