
		{{#if this.inactive}}<a href="#" class="inactive action view-mode-{{this.id}}" name="{{this.id}}"><i class="fas fa-ban"></i></a>
        {{else}}<a href="#" class="active action view-mode-{{this.id}}" name="{{this.id}}"> <i class="far fa-check-circle"></i></a>
        {{/if}}
