<script src="/js/all-sessions.js"></script>
<table>
    <th>Date & Time</th>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
    {{#each session}}
    <tr>
    <td>{{schedule_date}}</td>
    <td>{{id}}</td>
    <td>{{Client.first_name}}</td>
    <td>{{Client.last_name}}</td>
    <td><button class="session" data-id={{id}}>View session</button></td>
    </tr>
    {{/each}}
</table>