<div class="row mt-3">
    <h2 class="text-light armyfont ml-3 shadowed">Sessions View:</h2>
</div>

<div>
    <table class="table text-light">
        <th scope="col">Schedule Date</th>
        <th scope="col">Used Date</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Actions</th>
        {{#each session}}
        <tr>
            <td>{{schedule_date}}</td>
            <td>{{executed_date}}</td>
            <td>{{Client.first_name}}</td>
            <td>{{Client.last_name}}</td>
            {{!-- <td><button class="edit-session" data-id={{id}}>Edit session</button></td> --}}

            {{!-- omar: above- old // below- new button code --}}

            <td>
                <a href="#" class="edit-session" data-id={{id}}><i class="fas fa-user-clock"data-toggle="tooltip" data-html="true" title="<b class='armyfont text-warning shadowed'>Edit Session</b>"></i></a>
            </td>

        </tr>
        {{/each}}
    </table>
    
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/static/js/all-sessions.js"></script>