<div class="row mt-3">
    <h2 class="text-light armyfont ml-3 shadowed">Sessions View:</h2>

    <!-- Schedule Session  -->
    <div>
        <button type="button" class="btn add add-session" data-toggle="modal" data-target="#skd-session">
            + Schedule Session
        </button>
    </div>

</div>


<div>
    <table class="table text-light">
        <th scope="col">Schedule Date</th>
        <th scope="col">Used Date</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Actions</th>
        {{#each session}}
        <tr>
            <td>{{moment this.schedule_date lang="en" format="dddd, MMMM Do YYYY, h:mm a"}}</td>
            {{#if this.executed_Date}}
            <td>{{moment this.executed_Date lang="en" format="dddd, MMMM Do YYYY, h:mm a"}}</td>
            {{else}}
            <td>{{this.executed_Date}}</td>
            {{/if}}
            <td>{{Client.first_name}}</td>
            <td>{{Client.last_name}}</td>
            {{!-- <td><button class="edit-session" data-id={{id}}>Edit session</button></td> --}}

            {{!-- omar: above- old // below- new button code --}}

            <td>
                <a href="#" class="edit-session" data-id={{id}}><i class="fas fa-user-clock" data-toggle="tooltip"
                        data-html="true" title="<b class='armyfont text-warning shadowed'>Edit Session</b>"></i></a>
            </td>

        </tr>
        {{/each}}
    </table>

</div>


{{!-- Purchase package model --}}

<div class="modal fade" id="skd-session" tabindex="-1" role="dialog" aria-labelledby="packageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="packageModalLabel">Schedule Session</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="buy-package-form">
                    {{!-- <div class="form-group">
                        <input type="hidden" id="skd-clientID" name="clientID" value="">
                    </div> --}}
                    <div class="form-group">

                        <label for="selClient">Select Client:</label>
                        <select class="form-control" id="skdClient">
                            {{!-- Options dropdown populated by buy-package.js --}}
                        </select>

                    </div>

                    <div class="form-group">

                        <label for="selPkg">Select Package:</label>
                        <select class="form-control" id="avail-pkg">
                            {{!-- Options dropdown populated by buy-package.js --}}
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="session-time">Choose a time for your appointment:</label>

                        <input type="datetime-local" id="session-time" name="session-time" value="2019-05-02T19:30">
                    </div>

                </form>

            </div>
            <div class="modal-footer">

                <a href="#" id="btn-skd-session" class="btn btn-success success">Schedule Session</a>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/static/js/all-sessions.js"></script>
<script src="/static/js/skd-session.js"></script>
